.page-numbers {
  display: inline-block;
  width: auto !important;
  min-width: 30px !important;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-right: 16px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

a.category_detail,
.tag_tag {
  padding: 4px;
  background-color: rgb(239, 116, 0);
  margin-right: 5px;
}
a.category_detail.tag_tag {
  background-color: rgb(138, 147, 34);
}
